*{
  -webkit-transition:all 0.1s ease-in;
}
*::selection{
	background:transparent;
	color:#ff3600;
}
*::-moz-selection{
	background:transparent;
	color:#ff3600;
}
/* BASE */
* {
  font-family: helvetica, arial, sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
a img {
  border: 0;
}
body {
  background-color: #FFF;
  margin: 0 auto;
  padding: 0;
  width:960px;
}
label{
  font-size:12px;
}
input,select,textarea{
  margin-top:0px;
  margin-bottom:0px;
  font-style:italic;
}
input[type=submit] {
  background: black;
  color:white;
  border: 1px solid black;
  border-radius: 0px;
  font-size: 12px;
  padding: 2px 2px;
  text-shadow: #FFF 0px 0px 0px;
  -moz-border-radius: 0px;
}
input[type=checkbox],input[type=radio]{
  background:white;
  border:1px solid black;
  margin:0;
}
input[type=submit]:active {
  
}
input[type=submit]:hover {
  cursor:pointer;
  background: white;
  color:black;
}
input[type=text],
input[type=password],select{
  background:white;
  color:black;
  border:1px solid white;
  border-bottom:1px solid black;
  border-radius: 0px;
  font-size: 12px;
  padding: 2px 2px;
  -moz-border-radius: 0px;
  -webkit-transition:all 0.2s ease-in;
}
input[type=text]:hover,input[type=password]:hover,input[type=text]:focus,input[type=password]:focus,select:hover,select:focus{
  background:#ff9;
  outline:none;
}
textarea {
  border: 1px solid black;
  border-radius: 0px;
  font-size: 12px;
  padding: 2px 2px;
  -moz-border-radius: 0px;
}
p.error,
p.success {
  clear:both;
  border-bottom: 1px solid;
  font-size: small;
  margin: .5em 0;
  padding: .5em 0;
  width: 100%;
}
p.error {
  background: white;
  border-bottom-color: red;
  color: black;
}
p.success {
  background: white;
  border-bottom-color: #00b500;
  color: black;
}
td#availability {
  color: #00b500;
}
td#availability.not-available {
  color: #F00;
}
textarea {
  font-size: small;
  padding: .2em;
}
td,th{
  vertical-align:bottom;
}
th {
  padding-right: 1em;
  text-align: right;
}

/* HEADER */

div#header {
  background: #FFF bottom repeat-x;
  border-bottom: 0px solid #9CD;
  padding-top:50px;
  clear: both;
}
div#header:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
* html div#header {
  height: 1%;
}
h1 {
  float: left;
  font-size: x-large;
  font-weight: bold;
  margin: 0;
  padding: 0 0.2em;
  text-transform: lowercase;
}
html > body h1 {
  background: no-repeat 10px;
  padding-left: 0;
}
html > body div#header.popup h1 {
  background: no-repeat 10px;
  padding: 0;
}
h1 a {
  color: #000;
  /*text-shadow: 2px 2px 2px #9CD;*/
  font-weight:normal;
}
h1 a:hover {
  color: #000;
  text-decoration:none;
}
h2 {
  background: black center center repeat-x;
  border-bottom: 0px solid #DDD;
  clear: both;
  color: white;
  font-size: 0.9em;
  margin: 0 0 1em 0;
  padding: .4em 0.5em;
  font-weight:normal;
}

/* NAVIGATION */

ul#navigation {
  float:right;
  list-style-type: none;
  margin: 0;
  padding: 0.7em 0.2em 0.5em;
  text-transform: lowercase;
  width: auto;
}
ul#navigation a {
  font-size: 1em;
  font-weight: normal;
  padding: .4em .5em ;
}
ul#navigation a:hover {
  background: black;
  color: #FFF;
  text-decoration:none;
}
ul#navigation li {
  float: left;
}
ul#navigation li.access {
  /*float: right;*/
}

/* BOOKMARKS */

ol#bookmarks {
  clear:both;
  list-style-type: none;
  margin: 50px 0 0;
  padding: 0;
  width: 100%;
}
html > body ol#bookmarks {
  margin: 50px 0 0;
  padding: 0;
}
div.link a {
  color: black;
  font-size: medium;
}
div.link a:visited {
  color:black;
  text-decoration:line-through;
}
div.meta {
  color: black;
}
div.meta a{
  color: black;
  background:white;
}
div.meta a:hover{
  color: white;
  background:black;
  text-decoration:none;
}
div.meta span {
  color: #F00;
}
li.xfolkentry {
  clear:both;
  border-bottom: 1px solid black;
  margin-bottom: 0;
  padding: 1em 0;
}
html > body li.xfolkentry {
  border-bottom: 1px solid black;
}
li.xfolkentry div {
  padding: .1em;
}
li.xfolkentry.deleted {
  opacity: .5;
}
li.xfolkentry.private {
  border-bottom: 1px solid #F00;
}
li.xfolkentry.shared {
  border-bottom: 1px solid #FA0;
}

/* SIDEBAR */

div#sidebar {
  margin-top:30px;
  width:100%;
  float:right;
  font-size: small;
  position: relative;
}
div#sidebar a {
  color: black;
  background:white;
}
div#sidebar a:hover {
  color: white;
  background:black;
  text-decoration:none;
}
div#sidebar div {
  border-top:1px solid black;
  background:white ;
  color: black;
  margin-bottom: 1em;
  padding:0.5em 0.25em;  
  width:470px;
}
div#sidebar div#profile{
  float:left
}
div#sidebar div#popular{
  float:right
}
div#sidebar h2 {
  background: transparent;
  border: 0;
  color: black;
  letter-spacing: 0;
  margin: 0;
  padding: .5em 0;
  text-shadow: none;
  display:none;
}
div#sidebar hr {
  display: none;
}
div#sidebar p {
  margin: 0;
}
div#sidebar p.tags a {
  margin: 0;
}
div#sidebar table {
  margin: .5em .5em 0 .5em;
}
div#sidebar table td {
  padding-bottom: .25em;
  padding-right: .5em;
}
div#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: .5em;
}
div#sidebar ul li {
  display:inline;
  margin: .5em 0;
}
div#sidebar img{
	display:none;
}
div#sidebar div#popular p.tags{
	padding:0;
	margin: 0;
	font-size:1.1em;
}
/* TAGS */

p.tags {
  font-size:1em;
  clear:both;
  line-height: 2.25em;
  margin: 0;
  text-align: justify;
}
p.tags a,
p.tags span {
  color: black;
  margin-right: .5em;
}
p.tags span:hover {
  cursor: pointer;
  text-decoration: underline;
}
p.tags span.selected {
  background: #CEC;
}

/* PROFILE */

table.profile th {
  width: 10em;
}

/* OTHER GUFF */

dd {
  background: #CEC;
  border-right: 4px solid #ACA;
  color: #464;
  padding: 6px;
}
dd a {
  color: #464;
}
dd a:hover {
  color: #000 !important;
  text-decoration: underline !important;
}

dl {
  font-size: small;
  margin: 1em;
  width: 70%;
}
dl#profile dd {
  background: #CDE;
  border-color: #ABC;
  color: #247;
}
dl#profile dt {
  background: #BCE;
  border-color: #9AC;
  color: #245;
  display: block;
  font-weight: bold;
  padding: 6px;
}
dl#profile a {
  color: #446;
}
dl#profile a:hover {
  color: #000 !important;
  text-decoration: underline !important;
}
dl#meta dd {
  line-height: 1.5em;
}
dl#meta dt {
  background: #BDB;
  color: #353;
  display: block;
  font-weight: bold;
  padding: 6px;
}
dt {
  border-right: 4px solid #9B9;
}
dt a {
  background: #BDB;
  color: #353;
  display: block;
  font-weight: bold;
  padding: 6px;
}
dt a:hover {
  background: #ACA;
  border: 0;
}
form {
  margin: 0;
}
form#search {
  background: #FFF;
  color: black;
  font-size: small;
  margin-bottom: 1em;
  text-align:right;
  padding:0px;
}
form label,
form td,
form th {
  font-size: small;
}
form table {
  margin: 0;
  padding:0;
  border-spacing:0 4px;
  border-collapse:separate;
}
form#search table {
  margin: 0;
  float:right;
  padding:0;
  border-spacing:0;
  border-collapse:collapse;
}
h3 {
  background: white;
  color: black;
  font-size: small;
  margin: 2em 0 1em;
  padding: .5em 0;
}
li {
  font-size: small;
  margin-bottom: .5em;
}
p {
  font-size: small;
  margin: 1em 0;
}
p#sort {
  color: black;
  font-size: small;
  float: left;
  margin: 0;
  position: relative;
  padding:3px;
}
html > body p#sort {
  margin-right: .75em;
}
p#sort a {
  background: black;
  color: white;
  font-weight: normal;
  margin-right: .5em;
  padding: 0.1em 0.4em;
}
html > body p#sort a {
  margin-right: 0;
}
p#sort a:hover {
  color:black;
  background: white;
  text-decoration: none !important;
}
p#sort span {
  display: none;
}
p.paging {
  font-size: small;
  margin:0;
  padding:10px 0px;
}
p.paging a,
p.paging span.disable {
  background: black;
  color: white;
  display: inline;
  margin-right: .5em;
  padding: .25em 0.5em;
}
p.paging a:hover {
  background: white;
  color:black;
}
p.paging span {
  display: none;
}
p.paging span.disable {
  background: black;
  color: white;
  text-decoration:line-through;
}
div.collapsible p.tags {
  /*line-height: 2.25em;*/
  margin: 0.7em 0;
}
th label {
  padding-right: 0;
}
ul {
  list-style:none;
  margin:0;
  padding: 0;
  width: 100%;
}
ol{
  margin:0 0 0 20px;
  padding:0;
}
